*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 550px;
    margin-top: 8%;
    opacity: 0.90;
    display: flex;
    background-color: #fff;
    
}
body:hover{
    opacity: 1;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 30px;
    color: black;
    font-weight: 100;
    text-decoration: none;
    margin-left: 50px;
    font-family: serif;
}
.navbar a:hover{
    color: #fff;
    border-radius: 20px 20px 20px 20px;
    background-color: black;
    letter-spacing: 2.5px;
}


h1{
    padding-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
}
h1:hover{
    color: orangered;
    transition: .4s;
}
.container{ 
    width: 50%;
   padding-top: 0px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 25px;
    
}
.cards{
    background-color: #fff;
    box-shadow: 0px 2px 2px 3px gray ;
    border-radius: 20px 20px  ;
    transform: .5s;
    cursor: pointer;
}
.cards:hover{
transform: scale(1.01);
}
.image-section{
    height: 225px;
    background-color: red;
}
.cards .img-one{
    background-image: url(food2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px  ;
}
.cards .img-two{
    background-image: url(food3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px  ;
}

.content{
    padding: 20px 10px;
    text-align: center;
}
.content h2{
    letter-spacing: 1.5px;
    font-size: 30px;
}
.content h3{
    margin-top: 5px;
    font-family: sans-serif;
    padding-top: 10px;
}
.content p{
    margin: 15px 0px;
    /* padding-top: 10px; */
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
}
.content a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 10px;
}
.content a:hover{
    background-color: black;
    color: white;
    transition: 1s ease;
    border-radius: 20px 20px 20px 20px;
} 